<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>STUDY MATERIAL</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body background="background.jpg">
        <div class="container" id="image">
            <a href="C:\Users\thesu\Dropbox\My PC (LAPTOP-NOQQ9ACL)\Desktop\Django\practice\PROINTERN.html"><img src="prointern_logo.jpg" alt="ProIntern" width="250"></a>
        </div>
        <h1> Here you will get all notes for Gate </h1>
        <div class="container">
            <ul>
                <li><a href="https://drive.google.com/file/d/1oFlxx-9zU5p_Q-OfllMxqG7YBTxNCJp0/view?usp=sharing">Database Management System</a></li>
                <li><a href="https://drive.google.com/file/d/1TdEiyzuF2_C8zDBk8Oyh3ZppuxfxSDZp/view?usp=sharing">Data Structure</a></li>
                <li><a href="https://drive.google.com/file/d/1CrRM0WrHmLZqHxqXeyExyZmORMerOKdA/view?usp=sharing">Algorithm</a></li>
            </ul>
        </div>
    </body>
</html>