head {
    @media (min-width: 600x) {
        background-color: peachpuff;
    }
}
body {
    background-repeat: no-repeat;
    background-size: cover;

}
nav {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myfile{
    text-align: center;
}
#filehelp{
    font-weight: bold;
}
a {
    color: red;
}
a[href="https://www.facebook.com/thesunnysinha/"]{
    color: black
}
a[href="https://www.instagram.com/sunnyk.sinha/?hl=ena"]{
    color: black
}
a[href="https://www.linkedin.com/in/thesunnysinha/"]{
    color: black
}

h1 {
    font-weight: bold;
    color: red;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
h3 {
    color: white
}
h4 {
    color: brown;
}

#image {
    font-weight: bold;
    text-align: center;
    border: 1px;
}

#bio {
    border: 3px solid black;
    text-align: center;
    background-color: orange;
    width: auto;
    height: auto;
    padding: 20px;
    margin: auto;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

#contact {
    font-weight: bold;
}

#application {
    font-weight: bold;
    color: black;
    padding: 5px;
    text-align: center;
}

#file{
    text-align: center;
}
button {
    background-color: yellowgreen;
}
button:hover {
    background-color: tomato;
}

#details {
    font-weight: bold;
    margin: 40px;
}

#academics {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 40px;
}

#skills{
    font-weight: bold;
    margin: 40px;
}

#workexperience {
    font-weight: bold;
    margin: 40px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td,th {
    border: 1px solid black;
    padding: 5px;
    width: auto;
    height: auto;
    margin: 5px;
}